#loadings {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 50%;
    height: 60%;
    z-index: 9999;
    background-color: #ffffffcf;
}
#loadings img{
    position: center;
    left: 40%;
    top: 40%;
}

.msg{
    position: center;
}